<h1>會員註冊</h1>

<form method="post" action="/account_verify">
  <input type="text" name"usersname">
  <input type="password" name"password">
  <input type="password" name"password_confirm">
  <input type="text" name"usersname">
  <input type="submit" value"註冊">
  </form>